footer{
    padding: 20px 80px;
}
.footertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.footerbottom{
    text-align: center;
    color: #717182;
    font-size: 12px;
}
.appname{
    font-family:'Righteous', cursive;
    font-size: 30px;
    background: linear-gradient( #163349,#00C8FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec2 ul{
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 40px;
    color: #163349;
}
.sec2 ul li:hover{
    cursor: pointer;
    color: #00C8FF;
    font-weight: 500;
    text-decoration: underline;
}
.socialicons{
    display: flex;
}
.sibox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #1A1D29;
    font-size: 21px;
    color: #1A1D29;
}
.sibox:hover{
    box-shadow: 0 0 10px #1A1D29;
}
.sibox:active{
    transform: scale(85%);
    transition: 0.3s ;
}
.sibox:hover .roticon{
    transform: rotateY(360deg);
    transition: 0.5s ease-in-out;
}
.divider{
    margin: 20px;
    border: 1px solid #a3a5a955;
}

@media (max-width:480px) {
    footer{
    padding: 10px 30px;
}
.footertop{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footerbottom{
    font-size: 8px;
}
.appname{
    font-size: 22px;
}
.sec2 ul{
    display: block;
    font-size: 14px;
    gap: 20px;
}
.socialicons{
    display: flex;
    gap: 10px;
}
.sibox{
    padding: 8px;
    margin: 0;
    border: 2px solid #1A1D29;
    font-size: 18px;
    color: #1A1D29;
}
.divider{
    margin: 10px;
    border: 1px solid #a3a5a955;
}
}