footer{
    padding: 24px 48px;
}
.footertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.sec2 ul{
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 40px;
    color: black;
}
.sec2 ul li:hover{
    cursor: pointer;
    color: #DA3A41;
    font-weight: 500;
}
.divider{
    margin: 20px;
    border: 1px solid #a3a5a955;
}

.downloadbadges img {
  margin-right: 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0,0.1);
  transition: box-shadow 0.3s;
}

.downloadbadges img:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.0.1);
  cursor: pointer;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
    color: #717182;
    font-size: 12px;
}
.footerbottom span{
    font-size: 14px;
    font-weight: 400;
    color: #DA3A41;
    font-family: "Poppins", sans-serif;
}
.footerbottom ul{
    list-style: none;
}
.footerbottom ul li{
    display: inline;
    cursor: pointer;
}

.footerbottom div{
    display: inline;
}
.footerbottom a:hover{
    color: #DA3A41;
}

@media (max-width: 970px) {

.footertop{
    gap: 15px;
}
.footerbottom{
    font-size: 8px;
}
.sec2 ul{
    font-size: 16px;
    gap: 20px;
}

.divider{
    margin: 10px;
    border: 1px solid #a3a5a955;
}

}

@media (max-width:480px) {
    footer{
    padding: 10px 30px;
}
.footertop{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footerbottom{
    font-size: 8px;
}
.sec2 ul{
    display: block;
    font-size: 14px;
    gap: 20px;
}

.divider{
    margin: 10px;
    border: 1px solid #a3a5a955;
}
.downloadbadges img {
  margin-right: 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0,0.1);
  transition: box-shadow 0.3s;
}
}